.backgroundContainer {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url('../../assets/Texture.png');
  background-size: cover;
  background-position: center;
  color: white;
  text-align: center;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  max-width: 600px;
  margin: 0 auto;
  padding-right: 3rem;
  margin-left: 1rem;
  text-align: center;
}

.title {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: white;
  line-height: 4.5rem;


}

.loremText {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  line-height: 1.5;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.button {
  background-color: #007bff; /* Blue color */
  border: none;
  color: white;
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #0056b3; /* Darker blue */
}

.arrowIcon {
  width: 200px;
  height: 20px;
  margin: 0 0.5rem;
}
.playerImage {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 45%; /* Adjust as needed */
  height: 90%;
}

.soccerContainer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
}

.soccerImage {
  width: 100%;
  height: auto;
}

.soccerText {
  position: absolute;
  bottom: 20%;
  left: 23%;
  transform: translateX(-50%);
  color: red;
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1.5rem;
  width: 1px;
}
.dateContainer {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
  display: flex;
  gap: 10px;
}

.dateText, .timeText {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5px 10px;
  border-radius: 5px;
}
